html{
    font-family: 'Sawarabi Gothic', sans-serif;
    
}


body{
    background-color: #FFFFFF;
}
header {
    text-align: center;
    margin: 2em;
    background-color:  #C8AD7F;
    padding:1em;
    color:white;
    
}
header h1{
    font-size: 36pt;
}

main {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    background-color: #008080;
    color:whitesmoke;
    height:50px;
    justify-content:right;
    margin-bottom: 0;
}

nav {
        display: flex;
        background-color: #008080;
        height: 70px;
        
        
        
}
.headline{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

.logo{

    justify-content: flex-start;
    border: 2px solid ;
}

.banner-image{
background-image : url("images/park.jpg");
height: 250px;
background-position: center;
background-size:cover;
}

.section-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 3;
    padding: 1em;
    margin: 1em;

}

 .section-weather {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
    min-width: 100px;
    background-color: #449798;
    max-height: 950px;
} 


.section-right {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
    overflow: scroll;
    min-width: 150px;
    background-color: #449798;
    max-height: 950px;
}

.dropdown-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

#national-park__dropdown, #eateries__dropdown, #bizarre__dropdown{
    background-color:  #C8AD7F;
    color: white;
    border: 1px solid black;
    margin:1em;
}

.preview-container {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 1em;
    overflow-wrap: break-word;
    
}

.details-container {
    padding-top: 5px;
    display: flex;
    margin: 1em;
    justify-content: flex-start;
    min-height: 300px;
    max-height: 600px;  
    
}

#details-container__park, #details-container__eatery, #details-container__attraction {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    border: 3px black solid;
    border-radius: .5em;
    margin: 5px;
    padding: 2em;
    overflow: scroll;
    font-size:14px;
    width: 33%;
}

.itinerary-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.itinerary-preview__flex {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 2em;

}

.itinerary-preview__park, .itinerary-preview__attractions, .itinerary-preview__eat {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 33%;
    

}

#itinerary__save{
    
    background-color: #008080;
    color:whitesmoke;
    width: 200px;
    height: 20px;
    text-align: center;
}

#itinerary__save:disabled{
    background-color:  #C8AD7F;
     
}
