header {
    display: flex;
    /* border: 5px solid black; */
}

main {
    display: flex;
    /* border: 5px solid red; */
    justify-content: space-between;
}

footer {
    display: flex;
    /* border: 5px solid black; */
}

.section-center {
    display: flex;
    /* border: 5px solid green; */
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 3;

}

.section-weather {
    display: flex;
    /* border: 5px solid orange; */
    /* justify-content: flex-end; */
    flex-direction: column;
    flex-grow: 1;
    /* float: left; */
    overflow: scroll;
    max-height: 450px;

}

.forecast ul {
    list-style-type:none;

}

.section-right {
    display: flex;
    /* border: 5px solid purple; */
    flex-grow: 1;
}

.dropdown-container {
    display: flex;
    /* border: 5px solid aqua; */
    justify-content: center;
}

.preview-container {
    display: flex;
    /* border: 5px solid yellow; */
    justify-content: center;
    height: 250px;
}

.details-container {
    display: flex;
    justify-content: center;
    height: 500px;
    border: 5px red solid;
}

#details-container__park, #details-container__eatery, #details-container__attraction {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 5px green solid;
    width: 100px;
}

.itinerary-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itinerary-preview__flex {
    display: flex;
    align-self: center;
    justify-content: space-between;

}

.itinerary-preview__park, .itinerary-preview__attractions, .itinerary-preview__eat {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;

}

.weather-forecast {
    display: flex;
    flex-direction: column;
    /* border: 5px solid black */
}